.nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
    max-width: 490px;
    width: 100%;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 1.5rem;

    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Optional border */
    z-index: 1000;
}

.nav img {
    width: 140px;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav ul li {
    cursor: pointer;
}

.menu_btn {
    border: none;
    background-color: transparent;
    display: none;
}

@media (max-width: 540px) {
    .nav {
        left: 0;
        top: -5px;
        right: 0;
        transform: translateX(-0%);
        /* margin-top: 8px; */
        /* max-width: 490px; */
        max-width: 540px;
        border-radius: 0;
    }
}

@media (max-width: 470px) {
    .nav {
        padding: 0 2rem 0 1.5rem;
    }
    .nav ul {
        list-style: none;
        display: none;
        align-items: center;
        gap: 25px;
    }
    .menu_btn {
        display: block;
    }
}

@media (max-width: 370px) {
    .nav {
        padding: 0 .6rem;
    }
}