.portifolio_container {
    padding: 12rem;
}

.portifolio_title {
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
}

.portifolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: red;c */
}

.port_details {
    padding: 6rem 0;
}

.port_details h4{
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.port_details p{
    line-height: 1.5rem;
}

.portifolio img {
    width: 100%;
}


@media (max-width: 1210px) {
    .portifolio_container {
        padding: 6rem;
    }
}

@media (max-width: 1000px) {
    .portifolio_title {
        font-size: 3rem;
    }
    .port_details h4{
        font-size: 1.4rem;
    }
}

@media (max-width: 890px) {
    .portifolio_container {
        padding: 2rem;
    }
}

@media (max-width: 800px) {
    .portifolio_title {
        font-size: 2rem;
    }
}

@media (max-width: 690px) {
    .portifolio_container {
        padding: 1rem;
    }
    .portifolio {
        grid-template-columns: 1fr;
        /* background-color: red;c */
    }
}