
.page {
    width: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
    /* padding: 0 100px; */
    position: relative;
}

.header nav {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    /* background-color: red; */
    width: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.header nav img {
    width: 250px;
}

.header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.header nav ul li {
    cursor: pointer;
}

.partners_container {
    min-height: 100vh;
    text-align: center;
}

.partners_container h3{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.partners_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    /* place-content: center; */
    /* background-color: red; */
    padding: 0 15rem
}

.partners_list img {
    width: 200px;
    cursor: pointer;
}